body {
    margin: 0px;
    border:none;
}

.topDiv {
    background-color: #515154;
    width: 100%;
    height: 50px;
    padding: 5px;
}

header{
    width:15%;
}

#header1 img{
    float:left;
    max-width: 120px;
    max-height: 40px;
}
#header2{
    float: right;
    max-width: 20px;
    max-height: 20px;
}

nav{
    float:left;
    width:70%;
    vertical-align:middle;
    text-align:center;
    justify-content:center;
}
#topMenu ul{
    list-style-type:none;
}
#topMenu li {
    display:inline;
}

#topMenu {
    color: white;
    text-decoration: none;

}

.mainContent{
    background-color: whitesmoke;
    width: 100%;
    height: auto;
    padding: 5px;
}

#newsRegister {
    background-color: #f2f2f2;
    width: 100%;
    height: 200px;
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}

footer {
    background-color: black;
    width: 100%;
    height: 500px;
    padding: 5px;
}
